{% extends "base.html" %}
{% block content %}
    {% if title %}
        <h1>{{title}}</h1>
    {% endif %}
    <form method="get" action="." >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" > search! </button>
    </form>
    {% if files or in_content %}
    <h4>Search results!</h4>

    {% endif %}

    {% if files %}
    <h4>in title</h4>
    <ul>
        {% for file in files %}
       <li>
           <a href={{file.file.url}}>{{file.title}}</a>
       </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if in_content %}
    <h4>in content</h4>
    <ul>
        {% for file in in_content %}
       <li>
           <a href={{file.file.url}}>{{file.title}}</a>
       </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}